{
  "extends": "eslint:recommended",
  "parserOptions": {
      "ecmaVersion": 8,
      "sourceType": "module",
      "ecmaFeatures": {
          "jsx": true,
          "experimentalObjectRestSpread": true
      }
  },
  "env": {
      "browser": true
  },
  "rules": {
      "indent": "off",
      "no-unused-vars" : "off"
  }
}